.top-picks{
  margin-top:10%;
  margin-bottom:10%;
}
.top-pick-title-wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height:50px;
}
.top-pick-title{
  white-space: nowrap;
  color: var(--jcux-primary);
  margin-right:30px;
}
.top-pick-title-decor{
  background:var(--jcux-primary);
  height: 100%;
  width: 100%;
  border-radius: 100px;
}
.top-picks-main-wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  overflow-x:scroll;
  cursor:grab;
  user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.top-picks-main-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.top-picks-main-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin-top:3%;
}

.top-pick-main-wrapper {
  margin-right:20px;
  border:2px solid var(--jcux-primary);
  background: var(--jcux-primary);
  border-radius: 20px;
  width:200px;
  color: var(--jcux-secondary);
  transition:200ms;
}
.top-pick-image-wrapper{
  overflow:hidden;
  height:200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
a.top-pick-main-wrapper:hover{
  text-decoration: none;
  color:var(--jcux-secondary);
  background: var(--jcux-tertiary);
  border-color:var(--jcux-tertiary);
}
.top-pick-image-wrapper img{
  height:200px;
  width:auto;
}
.top-pick-main-wrapper:last-of-type{
  margin-right:0px;
}
.top-pick-name, .top-pick-price{
  font-size:1.5rem;
}
.top-pick-text-wrapper{
  padding:10px;
}

@media (max-width:800px){
  .top-pick-title-decor{
    display:none;
  }
  .top-pick-title{
    white-space: normal;
    font-size:2rem;
  }
  .top-pick-title-wrapper{
    height:fit-content;
  }
}